<div class="well well-lg">
  <h1>Welcome to The Greasy Spoon!</h1>
  <h3>The Greasy Spoon is a Yelp clone built in Ruby on Rails</h3>
  <p>This app was built as a learning opportuity working with Ruby on Rails, jQuery Raty - A Star Rating Plugin, and Google Maps API.</p>
</div>
