<div class="footer col-md-12">
  <div class= "row">
    <%= image_tag "https://s3.amazonaws.com/the-greasy-spoon-production/dirty_spoon.png", class: "img-responsive footer-img" %>
  </div>
  <div class="row">
    <p>Copyright Ryan Haase</p>
  </div>
</div>
